<IfModule mod_rewrite.c>
    RewriteEngine On
 
RewriteCond %{HTTP_HOST} ^the-tech-talent\.com$ [NC]
RewriteRule ^(.*)$ http://www.the-tech-talent.com/$1 [R=301,L]


RewriteCond %{HTTP_HOST} ^scwcd-certification\.com$ [NC]
RewriteRule ^(.*)$ http://www.scwcd-certification.com/$1 [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /index.php?url=$1 [QSA,L]


</IfModule>